Meta
doc
.Rhistory
.Rapp.history
*.swp
*.o
*.so
*.dll
..Rcheck/
.Rproj.user
.Rbuildignore
vignettes/cache
vignettes/figures
scripts/issues/
vignettes/figures/ggrepel/gallery.html
vignettes/figures/ggrepel/make_gallery_html.sh
.DS_Store
inst/
scripts
movies
revdep
